@import 'src/styles.scss';

.main {
  min-height: 80vh;
  width: 100;
  h1 {
    font-size: 28px;
    font-weight: 400;
  }
  h1,
  label {
    color: map-get($map: $custom, $key: light);
  }
  .dimmed-container {
    background-color: rgba($color: #000000, $alpha: 0.6);
    min-height: 300px;
    width: 100;
    margin-bottom: 40px;
    .not-found {
      color: map-get($map: $custom, $key: light);
      font-size: 20px;
    }
    .form {
      overflow: auto;
      label {
        color: map-get($map: $custom, $key: light);
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .main {
    height: 800px;
  }
  .dimmed-container {
    height: 800px;
    margin-bottom: 0;
    .form {
      max-height: 650px;
      form {
        padding-left: 25%;
        padding-right: 25%;
      }
    }
  }
}
