<div class="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center align-items-lg-start my-5 my-lg-3"
        >
          <img
            src="../../../../assets/logoName.png"
            class="logo ml-md-3 hoverable-white"
            width="200px"
            (click)="onScroll($event)"
            routerLink="/home/main"
          />
        </div>
        <div class="col-lg-9 d-flex justify-content-center align-items-center">
          <p class="my-0 mx-5 text-center text-lg-right mb-5 mb-sm-0">
            Znajdujesz się na stronie internetowej, która służy jedynie za
            przykład serwisu, który może działać w prawdziwym świecie. Jest
            wyłącznie demonstracją zastosowania technologii Angular 7, .NET Core 2.1 
            i Entity Framework Core 2.1. Nie służy do prowadzenia działalności komercyjnej.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom d-flex justify-content-center align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 order-1 text-center">
          <div class="my-2">
            <a
              class="m-o hoverable-white"
              href="http://www.github.com/pawmastalerz/PRAPI"
              target="_blank" rel="noopener noreferrer"
            >
              <i class="fa fa-github fa-xs"></i> /API
            </a>
          </div>
        </div>
        <div class="col-sm-4 order-3 order-sm-2 text-center">
          <div class="my-2">
            <a
              class="m-o hoverable-white"
              href="http://www.github.com/pawmastalerz"
              target="_blank" rel="noopener noreferrer"
            >
            <i class="fa fa-github fa-xs"></i> Paweł Mastalerz 2019
            </a>
          </div>
        </div>
        <div class="col-sm-4 order-2 order-sm-3 text-center">
          <div class="my-2">
            <a
              class="m-o hoverable-white"
              href="http://www.github.com/pawmastalerz/PRSPA"
              target="_blank" rel="noopener noreferrer"
            >
            <i class="fa fa-github fa-xs"></i> /SPA
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
