<div class="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center align-items-lg-start my-5 my-lg-3"
        >
          <img
            src="../../../../assets/logoName.png"
            class="logo ml-md-3"
            width="200px"
            routerLink="/home"
          />
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
          <p class="my-0 mx-5 text-center">
            Znajdujesz się na stronie internetowej, która służy jedynie za
            przykład serwisu, który może działać w prawdziwym świecie. Jest
            wyłącznie demonstracją zastosowania technologii Angular 6, .NET Core
            2.1 i MySQL i nie służy do prowadzenia działalności komercyjnej.
          </p>
        </div>
        <div
          class="col-lg-3 d-flex flex-column justify-content-center align-items-center align-items-lg-end mt-5 mt-lg-3 pr-lg-5"
        >
          <div >
            <table class="table">
              <tr>
                <td><i class="fa fa-facebook fa-2x"></i></td>
                <td><p>facebook</p></td>
              </tr>
              <tr>
                <td><i class="fa fa-twitter fa-2x"></i></td>
                <td><p>twitter</p></td>
              </tr>
              <tr>
                <td><i class="fa fa-instagram fa-2x"></i></td>
                <td><p>instagram</p></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom d-flex justify-content-center align-items-center">
    <p class="m-0">Paweł Mastalerz 2019</p>
  </div>
</div>
