<div class="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center align-items-lg-start my-5 my-lg-3"
        >
          <img
            src="../../../../assets/logoName.png"
            class="logo ml-md-3 hoverable-white"
            width="200px"
            routerLink="/home"
          />
        </div>
        <div class="col-lg-9 d-flex justify-content-center align-items-center">
          <p class="my-0 mx-5 text-center text-lg-right">
            Znajdujesz się na stronie internetowej, która służy jedynie za
            przykład serwisu, który może działać w prawdziwym świecie. Jest
            wyłącznie demonstracją zastosowania technologii Angular 6, .NET Core
            2.1 i MySQL i nie służy do prowadzenia działalności komercyjnej.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom d-flex justify-content-center align-items-center">
    <a class="m-o hoverable-white" href="http://www.github.com/pawmastalerz">
      Paweł Mastalerz 2019
    </a>
  </div>
</div>
