@import 'src/styles.scss';

.single {
    margin-top: 50px;
  min-height: 600px;
  background-color: map-get($map: $custom, $key: basic-opacity);
  border-bottom-left-radius: 70px;
  .description {
    margin-top: 50px;
    margin-bottom: 50px;
    p {
      color: map-get($map: $custom, $key: dark);
      font-size: 22px;
    }
  }
  .photo {
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.order {
  p {
    color: map-get($map: $custom, $key: basic);
    font-size: 35px;
  }
  button {
    width: 100%;
    // max-width: 300px;
  }
}
