<div class="container car">
  <div class="row">
    <div
      class="col-sm-5 description d-flex flex-column align-items-center justify-content-center"
    >
      <p>Numer zamówienia: {{ orderDetails.orderId }}</p>
      <p>Marka: {{ orderDetails.carOrdered.brand }}</p>
      <p>Model: {{ orderDetails.carOrdered.model }}</p>
      <p>Rocznik: {{ orderDetails.carOrdered.year }}</p>
      <p>Kwota zamówienia: {{ orderDetails.totalPrice | number: '.2' }} PLN</p>
      <hr />
      <p>Zwrócony: {{ orderDetails.isReturned }}</p>
    </div>
    <div
      class="col-sm-7 photo px-0"
      [ngStyle]="{
        'background-image': 'url(' + orderDetails.carOrdered.photoUrl + ')'
      }"
    ></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn mx-auto hoverable-white"
        (click)="onReturn()"
      >
        zwróć pojazd
      </button>
    </div>
  </div>
</div>
