<div class="container-search">
  <div class="search-container d-flex flex-column align-items-center">
    <p class="p-0 m-0 text-center">WYSZUKAJ SAMOCHÓD</p>
    <div class="container">
      <form>
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="form-group">
              <label for="exampleFormControlInput1">data wypożyczenia:</label>
              <input
                type="date"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
              />
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="form-group">
              <label for="exampleFormControlInput1">data zwrotu:</label>
              <input
                type="date"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
              />
            </div>
          </div>
          <div class="col-12 col-sm-8 col-lg-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">model:</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-2">
            <div class="d-flex align-items-center">
              <button type="button" class="btn mx-auto hoverable-white mb-5 mb-sm-0">wyszukaj</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
