<div class="container-search">
  <div class="search-container d-flex flex-column align-items-center">
    <p class="p-0 m-0 text-center">WYSZUKAJ SAMOCHÓD</p>
    <div class="container">
      <form [formGroup]="searchForm" (keydown)="keyDownFunction($event)">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="form-group">
              <label for="reservedFrom">data wypożyczenia:</label>
              <input
                type="date"
                class="form-control"
                formControlName="reservedFrom"
                placeholder="name@example.com"
              />
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="form-group">
              <label for="reservedTo">data zwrotu:</label>
              <input
                type="date"
                class="form-control"
                formControlName="reservedTo"
                placeholder="name@example.com"
              />
            </div>
          </div>
          <div class="col-12 col-sm-8 col-lg-4">
            <div class="form-group">
              <label for="model">model:</label>
              <select class="form-control" formControlName="model">
                <option></option>
                <option *ngFor="let car of fleetWithDistinctModels">{{car.brand}} {{car.model}}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-2">
            <div class="d-flex align-items-center">
              <button
                type="button"
                class="btn mx-auto hoverable-white mb-5 mb-sm-0"
                (click)="onSearch()"
                [disabled]="!searchForm.valid"
              >
                wyszukaj
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
