<div class="container-register">
  <div class="disclaimer p-3 p-lg-5 text-center">
    <p>
      Wszelkie dane osobowe podane w poniższym formularzu będą przechowywane w
      bazie danych do najbliższej godziny 23:00 czasu lokalnego.
    </p>
    <p>
      O tej porze dane osobowe, jak również historia zamówień dokonanych z
      zarejestrowanego konta zostanie automatycznie usunięta z bazy przez
      serwer.
    </p>
    <p>
      Dane osobowe będą wykorzystane wyłącznie do prezentacji zastosowania
      technologii Angular 7, .NET Core 2.1 i Entity Framework Core 2.1. Nie
      zostaną wykorzystane w jakiejkolwiek działalności komercyjnej.
    </p>
    <p>
      Serwis celowo nie pyta o imię i nazwisko. Proszę NIE PODAWAĆ prawdziwych
      danych osobowych, w tym adresu e-mail! Nie jest potrzebny do procesu
      rejestracji.
    </p>
  </div>
  <div class="register-container d-flex flex-column align-items-center">
    <p class="p-0 m-0 text-center mb-5">ZAREJESTRUJ SIĘ</p>
    <form [formGroup]="registerForm" (keydown)="keyDownFunction($event)">
      <div class="container register w-lg">
        <div class="row">
          <div class="col-md-6 px-2 px-md-5">
            <div class="form-group mx-auto">
              <label for="username">login:</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                autofocus
                placeholder="(3-30 znaków)"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="email">e-mail:</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="(prawidłowy, przykładowy e-mail)"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="password">hasło:</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                placeholder="(3-30 znaków, min. 1 cyfra)"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="repeatPassword">powtórz hasło:</label>
              <input
                type="password"
                formControlName="repeatPassword"
                class="form-control"
                placeholder="(powtórz hasło)"
                maxlength="30"
              />
            </div>
          </div>
          <div class="col-md-6 pt-0 px-2 px-md-5 ">
            <div class="form-group">
              <label for="city">miasto:</label>
              <input
                type="text"
                formControlName="city"
                class="form-control"
                placeholder="(3-30 znaków)"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="street">ulica:</label>
              <input
                type="text"
                formControlName="street"
                class="form-control"
                placeholder="(3-30 znaków)"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="streetNumber">numer posesji:</label>
              <input
                type="text"
                formControlName="streetNumber"
                class="form-control"
                placeholder="(1-7 znaków)"
                maxlength="7"
              />
            </div>
            <div class="form-group">
              <label for="postalCode">kod pocztowy:</label>
              <input
                type="text"
                formControlName="postalCode"
                class="form-control"
                placeholder="XX-XXX"
                maxlength="6"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col px-2">
            <button
              type="button"
              class="btn mx-auto hoverable-white my-5"
              (click)="onSubmit()"
            >
              zarejestruj się
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
