@import 'src/styles.scss';

.main {
  min-height: 80vh;
  width: 100;
  h1 {
    font-size: 28px;
    font-weight: 400;
    color: map-get($map: $custom, $key: light);
  }
  p {
    font-size: 22px;
    color: map-get($map: $custom, $key: light);
  }
  .dimmed-container {
    background-color: rgba($color: #000000, $alpha: 0.6);
    min-height: 300px;
    width: 100;
    margin-bottom: 40px;
    .not-found {
      color: map-get($map: $custom, $key: light);
      font-size: 20px;
    }
    hr {
      background-color: map-get($map: $custom, $key: basic);
      border-color: map-get($map: $custom, $key: basic);
      color: map-get($map: $custom, $key: basic);
      height: 1px;
    }
    .delete {
      background-color: map-get($map: $custom, $key: danger);
    }
  }
}

@media only screen and (min-width: 992px) {
  .main {
    height: 800px;
  }
  .dimmed-container {
    height: 800px;
    margin-bottom: 0;
    .details {
      max-height: 650px;
      padding-left: 25%;
      padding-right: 25%;
    }
  }
}
