<nav class="navbar navbar-expand-lg sticky-top">
  <img
    src="../../../../assets/logoName.png"
    class="logo ml-md-3 hoverable-white"
    width="200px"
    [routerLink]="['/home/main']"
  />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarContent"
    aria-controls="navbarContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
  <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-lg-auto">
      <li class="nav-item text-center mx-auto" *ngIf="isAuth">
        <a
          class="nav-link hoverable-white"
          [routerLink]="['/home/cpanel/current']"
          >panel klienta</a
        >
      </li>
      <li class="nav-item text-center mx-auto">
        <a class="nav-link hoverable-white" [routerLink]="['/home/pricing']"
          >cennik</a
        >
      </li>
      <li class="nav-item text-center mx-auto">
        <a class="nav-link hoverable-white" [routerLink]="['/home/contact']"
          >kontakt</a
        >
      </li>
      <li class="nav-item text-center mx-auto" *ngIf="!isAuth">
        <a class="nav-link hoverable-white" [routerLink]="['/home/login']"
          >zaloguj się</a
        >
      </li>
      <li class="nav-item text-center mx-auto" *ngIf="isAuth">
        <a
          class="nav-link hoverable-white"
          (click)="logout()"
          [routerLink]="['/home/main']"
          >wyloguj się</a
        >
      </li>
    </ul>
  </div>
</nav>
