@import 'src/styles.scss';

.navbar {
  background-image: map-get($map: $custom, $key: basic-gradient);
  min-height: 70px;
  margin: 0;

  li,
  a {
    width: 150px;
    font-family: 'Oswald';
    font-size: 24px;
    color: map-get($custom, dark);
  }
  
}
