<div class="container-contact">
  <div class="contact-container d-flex flex-column align-items-center">
    <p class="p-0 m-0 text-center mb-5">SKONTAKTUJ SIĘ Z NAMI</p>
    <div class="container details text-left">
      <div class="row">
        <div class="col-lg-4 px-5">
          <form [formGroup]="contactForm" (keydown)="keyDownFunction($event)">
            <div class="form-group">
              <label for="name">imię:</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                id="name"
                autofocus
                placeholder="(3-30 znaków)"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="email">e-mail:</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                id="email"
                placeholder="(e-mail)"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="exampleTextarea">treść wiadomości:</label>
              <textarea
                class="form-control"
                id="exampleTextarea"
                rows="7"
                formControlName="body"
                placeholder="(3-300 znaków)"
                maxlength="300"
              ></textarea>
            </div>
            <button (click)="onSubmit()" type="button" class="btn mx-auto hoverable-white mb-5" [disabled]="!contactForm.valid">
              wyślij
            </button>
          </form>
        </div>
        <div class="col-lg-4 text-center my-5 my-lg-0"><p>lub</p></div>
        <div class="col-lg-4 px-5">
          <div class="phone text-center text-lg-left mb-5">
            <p>telefon:</p>
            <br />
            <p>(+48) 123-234-345</p>
            <br />
            <p>(89) 123-23-34</p>
            <br />
          </div>
          <div class="address text-center text-lg-left mb-5">
            <p>adres:</p>
            <br />
            <p>ul. Przykładowa 4a</p>
            <br />
            <p>10-004 Olsztyn</p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
