.container-prices {
    min-height: 1000px;
    background-image: url('../../../../assets/prices.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}