<div class="container-prices">
  <div class="prices-container d-flex flex-column align-items-center">
    <p class="p-0 m-0 text-center mb-5">CENNIK</p>
    <app-prices-table></app-prices-table>
    <p class="p-0 m-0 text-center mb-5">RABATY</p>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-4">
          <div class="offer-tile">
            <h1>1 DZIEŃ</h1>
            <h2>BRAK RABATU</h2>
            <p class="p-5">Płacisz 100% ceny za dzień wypożyczenia pojazdu</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="offer-tile">
            <h1>DO 3 DNI</h1>
            <h2>RABAT 5%</h2>
            <p class="p-5">Płacisz 95% ceny za dzień wypożyczenia pojazdu</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="offer-tile-favorable">
            <div
              class="favorable-bar d-flex align-items-end justify-content-end"
            >
              <p>korzystny!</p>
            </div>
            <h1>PONAD 3 DNI</h1>
            <h2>RABAT 8%</h2>
            <p class="p-5">
              Płacisz jedynie 92% ceny za dzień wypożyczenia pojazdu
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5"></div>
  </div>
</div>
