@import 'src/styles.scss';

.navbar {
  background-image: map-get($map: $custom, $key: basic-gradient);
  min-height: 70px;
  margin: 0;
  .navbar-toggler {
    width: 80vw;
    max-width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    min-height: 800px;
    width: 100;
  }
  .collapse {
    display: flex;
    flex-direction: column;
  }
}
