<div class="container-login">
  <div class="login-container d-flex flex-column align-items-center">
    <p class="p-0 m-0 text-center mb-5">ZALOGUJ SIĘ</p>
    <div class="container details text-left">
      <div class="row">
        <div class="col">
          <form [formGroup]="loginForm" (keydown)="keyDownFunction($event)">
            <div class="form-group mx-auto">
              <label for="username">login:</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                autofocus
              />
            </div>
            <div class="form-group">
              <label for="password">hasło:</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
              />
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button
                  type="button"
                  class="btn mx-auto hoverable-white mt-5"
                  [disabled]="!loginForm.valid"
                  (click)="onSubmit()"
                >
                  zaloguj
                </button>
              </div>
              <div class="col-sm-6">
                <button
                  type="button"
                  class="btn mx-auto hoverable-white mt-5"
                  [routerLink]="['/home/register']"
                >
                  rejestracja
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
