<div class="row mx-0 main">
  <div class="col">
    <div class="dimmed-container">
      <h1 class="p-3">Twoje dane osobowe:</h1>
      <form [formGroup]="personalForm" (keydown)="keyDownFunction($event)">
        <div class="row p-3">
          <div class="col">
            <div class="form-group mx-auto">
              <label for="username">login:</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                readonly
                (click)="notAllowed()"
              />
            </div>
            <div class="form-group">
              <label for="email">e-mail:</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                readonly
                (click)="notAllowed()"
              />
            </div>
            <div class="form-group">
              <label for="city">miasto:</label>
              <input
                type="text"
                formControlName="city"
                class="form-control"
                autofocus
                placeholder="(3-30 znaków)"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="street">ulica:</label>
              <input
                type="text"
                formControlName="street"
                class="form-control"
                placeholder="(3-30 znaków)"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="streetNumber">numer posesji:</label>
              <input
                type="text"
                formControlName="streetNumber"
                class="form-control"
                placeholder="(1-7 znaków)"
                maxlength="7"
              />
            </div>
            <div class="form-group">
              <label for="postalCode">kod pocztowy:</label>
              <input
                type="text"
                formControlName="postalCode"
                class="form-control"
                placeholder="XX-XXX"
                maxlength="6"
              />
            </div>
            <button
              type="button"
              class="btn mx-auto hoverable-white my-3"
              (click)="onSubmit()"
              [disabled]="personalForm.pristine"
            >
              aktualizuj dane osobowe
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
