/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
}

$custom: (
  basic: #28d8cc,
  light: #d4faf8,
  darker: #2d8785,
  dark: #282e3c,
  white: #ffffff
);

.hoverable-white:hover {
  cursor: pointer;
  color: white !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

input,
select,
textarea {
  background-color: map-get($map: $custom, $key: light) !important;
  color: map-get($map: $custom, $key: dark) !important;
  resize: none;
  border-radius: 7px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}
