/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

$custom: (
  basic: #28d8cc,
  light: #d4faf8,
  darker: #2d8785,
  dark: #282e3c,
  white: #ffffff
);
