<div class="row mx-0 main">
  <div class="col">
    <div class="dimmed-container">
      <h1 class="p-3">Twoje aktualne zamówienia: {{currentlyOrdered.length}}</h1>
      <div class="mt-3 p-3 not-found" *ngIf="currentlyOrdered.length === 0">
        <p class="text-center">
          Nie posiadasz żadnych aktualnie wypożyczonych samochodów.
        </p>
        <br />
      </div>
      <div *ngIf="currentlyOrdered.length > 0">
        <owl-carousel
          [options]="mySlideOptions"
          [items]="currentlyOrdered"
          [carouselClasses]="['owl-theme', 'sliding']"
        >
          <div class="item" *ngFor="let carDetails of currentlyOrdered">
            <app-current-item [carDetails]="carDetails"></app-current-item>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</div>
